body{
    background-color: rgb(255,248,235);
}

.imgs{
    border-radius: 7px;
}

.location{
    display:flex;
    /* justify-content: flex-start; */
    align-items: center;
    margin-bottom:6px;
}

.location2{
    display:flex;
    /* justify-content: flex-start; */
    align-items: center;
    
}

.mon{
    display:flex;
    align-items: center;
}

.dish{
    font-family: 'PT Serif', serif;
    margin-bottom:5px;
}

.reserve{
    color:red;
    font-family: 'PT Serif', serif;
    margin-top:6px;
}

.loc{
    margin-left:8px;
    font-family: 'PT Serif', serif;
    
    
}

.loc2{
    margin-left:8px;
}

.dollar{
    margin-left:3px;
    margin-right:8px;
    font-family: 'Nunito', sans-serif;
}

.food{
    margin-left:5px;
    font-family: 'Nunito', sans-serif;
}

.items{
    margin-left:50px;
    margin-right:90px;
    margin-top:30px;
}

.find{
    background-color: rgb(20, 8, 61);
    width:45%;
    height:400px;
    margin-left:20px;
    gap:0px;
    padding:0px;
}

.fin{
    font-family: "Merriweather", serif;
  color: white;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 30px;
  padding:20px;
  
  
}


.two{
    gap:0px;
    padding:0px;
   display:flex;
   flex-direction:column;
   
}


.bn{
    border: 1px solid white;
            background-color: transparent;
            height: 80px;
            width: 200px;
            color:white;
            font-size:18px;
            margin-left:50px;
            border-radius:7px
}

.download{
    background-color:rgb(218,55,67);
    width:45%;
    margin-left:20px;
    height:150px;
    gap:0px;
    padding:0px;
}

.text{
    color: white;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-left:60px;
  padding:20px;
  font-size:18px;
}

.dwn{
    font-family: 'PT Serif', serif;
    color:white;
    margin-left:230px;
    align-items: center;
  justify-content: center;
  margin-bottom:20px;
  margin-top:20px;
  font-size:20px;
}

.footer{
    background-color: rgb(255,248,235);
    margin-left:50px;

}

.dot {
    height: 25px;
    width: 25px;
    background-color: rgb(218,55,67);
    border-radius: 50%;
  }
  
  .dot2 {
    height: 50px;
    width: 50px;
    background-color: rgb(218,55,67);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .i-dot {
      border-radius: 50%;
      background-color:rgb(255,248,235);
      width: 50%;
      height: 50%;
  }

  .open {
    font-family: 'PT Serif', serif;
    color: rgb(218,55,67);
    font-size: 20px;
    margin-left: 4px;
  }

  .heading {

    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    display: flex;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .btn-btn{
    background-color:black;
    width:140px;
    color:white;
    border-radius:7px;
    height:60px;
    margin-left:10px;
  }

  .update{
    font-weight:bold;
  }